<%# $Id$ %>
<table>
    <thead>
        <td>#</td>
        <td>address</td>
        <td>goto</td>
    </thead>
<% n = 0 %>
<% @alias.list.each do |row| %>
    <% n += 1 %>
    <tr>
    <td><%= n %>
    <td><%= row['address'] %></td>
    <td><%= row['goto'] %></td>
<% end %>
</table>
<%# EOF %>

