[Unit]
Description=si4

[Service]
Type=forking
PIDFile=/var/run/si4/si4.pid
ExecStart=/usr/local/sbin/si4
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

